# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

.R
/pngs
/archive
/raw_data
/preprocessing
/preprocessing_v2.R
/cost.RData
/outfoldermaps
/outfoldermaps.v1
/outfoldermaps.v2
/outfoldermaps.v3
/outputs
/outputs_v4
/outputs_v5
/outputs_v6
/outputs_v9
/outputs_v11
/outputs_v12
/outputs_v13
/outputs_v14
/supp_tables
/testing_npf_outfoldermaps.v1
/code/archive
/code/outputs_v9
/code/postprocessing.R
/code/working_code.R